body {
  margin: 0;
  padding: 0;
}

#main {
  margin: 2%;
}

#clear-board {
  margin: 1% 0;
}

.color {
  display: inline-block;
}

.pixel , .color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.pixel {
  background-color: white;
}
