* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Fascinate, display;
  font-weight: 900;
  font-size: 38px;
  color: #fafafa;
  -webkit-text-stroke-width: 2px; /* largura da borda */
  -webkit-text-stroke-color: #154a9a;/* cor da borda */
  /* Referencia: 
  https://pt.stackoverflow.com/questions/243301/como-fazer-um-contorno-em-texto-via-css */

  margin-bottom: 22px;
}

#color-palette {
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 25px;
  background: #e4e4e4;
  border-radius: 25px;
  margin-bottom: 15px;
}

li {
  border: 1px solid black;
}

.color {
  width: 100px;
  height: 100px;
  list-style: none;
  border-radius: 50%;
  transition: 0.2s;
}

.selected {
  opacity: 0.5;
}

.color:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.button {
  padding: 3px 10px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fafafa;
  background: #ec4796;
  border-radius: 5px;
  border: none;
}

.button:hover {
  cursor: pointer;
  background: #ee64a7;
}

#color-input {
  width: 79px;
  height: 25px;
  padding: 10px 8px;
  background: #fafafa;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-family: Inter, sans-serif;
  font-weight: 700;
  color: #313131;
}

#board-size {
  width: 77px;
  height: 25px;
  padding: 10px 5px;
  background: #fafafa;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-family: Inter, sans-serif;
  font-weight: 700;
  color: #313131;
}

#pixel-board {
  max-width: fit-content;
  display: grid;
  margin-top: 20px;
}

.pixel {
  width: 40px;
  height: 40px;
  color: white;
  background-color: white;
  border: 1px solid black;
  transition: 0.2s;
}

.pixel:hover {
  transform: scale(1.1);
}
