h1 {
  text-align: center;
}

#color-palette {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.color {
  margin-right: 4px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

#pixel-board {
  display: table;
  border-collapse: collapse;
  margin: 0 auto;
}

.tr {
  display: table-row;
}

.pixel {
  display: table-cell;
  box-sizing: content-box;
  border: 1px solid black;
  background-color: white;
  width: 41px;
  height: 41px;
}

.wrapper {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  justify-content: center;
}

#clear-board {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgb(23, 199, 230);
  border: 2px solid black;
  box-sizing: unset;
  color: white;
  padding: 0.4em 2em;
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
}
