.color , .pixel {
  width: 40px;
  height: 40px;
  border: 1px solid;
  box-sizing: border-box;
  display: inline-block;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: greenyellow;
}

#color3 {
  background-color: red;
}

#color4 {
  background-color: aqua;
}

.pixel {
  background-color: white;
}

#clear-board {
  width: 60px;
  height: 20px;
  border: 1px solid;
  box-sizing: border-box;
}