body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  
}

#color-palette {
  list-style: none;
  display: flex;
  margin-left: 10px;
}

.color {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 2px;
  cursor: pointer;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
